@font-face {
  font-family: "font-regular" ;
  src: url("../font/regular.ttf")
}

@font-face {
  font-family: "font-bold" ;
  src: url("../font/bold.ttf")
}
@font-face {
  font-family: "font-semibold" ;
  src: url("../font/semibold.ttf")
}





