@charset "utf-8";
* {
	margin: 0;
	padding: 0;
	border: none;
}
#footer {
	position: ;
	width: 1366px;
	height: 2000px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: footer;
	--web-view-id: footer;
	--web-enable-deep-linking: true;
}
