@import url('/css/fonts.css');

header iframe {
  position: fixed;
}
iframe {
    width: 100%; /* Ocupar todo el ancho disponible */
    height: 100vh; /* Ocupar toda la altura visible de la ventana */
    border: none; /* Eliminar el borde */
    margin: 0; /* Eliminar los márgenes */
    padding: 0; /* Eliminar los rellenos */
  }
  
  body {
    margin: 0;
    padding: 0;
  }