#nav {
  position: absolute;
}
nav {
  background-color: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
 a {
  font-family: "font-semibold" ;
   text-decoration: none;
}
.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
}

.logo img {
  width: 6.2rem;
  height: auto;
}

.nav-links {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin: 0 10px;
  position: relative;
}

.nav-links li a {
  padding-right: 20px;
  margin-right: 20px;
  color: #141C3A;
  font-family: "font-semibold"; 
  font-size: 1rem;
  text-decoration: none;
}

.nav-links li a::before {
  content: '';
  position: absolute;
  bottom: -2px;
  left: -10px;
  width: 3px;
  height: 350%;
  background-color: #ECECEC; /* Color de la línea */
  transform: scaleX(1);
  transition: transform 0.3s ease;
}


.btn-container {
  display: flex;
  border-radius: 3rem;
  background: linear-gradient(70deg, #0A2BFF,  #0A2BFF, #FFFFFF);
  padding: 8px 10px 8px 20px;
  border: none;
  cursor: pointer; 
  text-decoration: none;
  color: #FFFFFF;
  transition: background-color 5000ms;
}

.btn-container:hover, .btn-container:focus {
  transition: background-color 5000ms;
  background: linear-gradient(70deg, #0A2BFF,  #0A2BFF, #0A2BFF);
  color: #FFFFFF;
}


.btn-container img {
  margin-left: 0.8rem;
}
