@import url('../../fonts.css');

/*-----------------------------------------------*/
@media (min-width: 360px) and (max-width: 667px) {
 
  #nav {
    position: absolute;
  }
  nav {
    background-color: #ffffff;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 1rem auto;    
  }

  .nav-links li {
    display: none;
  }
  
   a {
    font-family: "font-semibold";
    text-decoration: none;
  }
  .nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0.7rem 1rem;
  }
  
  .logo img {
    width: 6.2rem;
    height: auto;
  }
  
  .nav-links {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }  
   
  .btn-contactame {    
    display: flex;
    border-radius: 3rem;
    background: linear-gradient(70deg, #0A2BFF,  #0A2BFF, #FFFFFF);
    padding: 8px 10px 8px 20px;
    border: none;
    cursor: pointer; 
    text-decoration: none;
    color: #FFFFFF;
  }
    
  .btn-contactame:hover, .btn-contactame:focus {
    transition: background-color 5000ms;
    background: linear-gradient(70deg, #0A2BFF,  #0A2BFF, #0A2BFF);
    color: #FFFFFF;
  }  

  .btn-contactame {
    font-family: "font-bold";
    font-size: 1rem;
    color: #FFFFFF;
  }
  
  .btn-contactame img {
    margin-top: 0.2rem;
    margin-left: 0.8rem;
  }
}